
.ipynb_checkpoints/Task1_Linear_regression-checkpoint.ipynb
.ipynb_checkpoints/Task2_logistic_regression-checkpoint.ipynb
.ipynb_checkpoints/Task3_decision_tree-checkpoint.ipynb
.ipynb_checkpoints/Task4_cluster_plus-checkpoint.ipynb
.ipynb_checkpoints/Task5_bayes_plus-checkpoint.ipynb
